# created by virtualenv automatically
DJANGO_SECRET_KEY=django-insecure-xjk(30nqy16&vpmac257a9hoe%j3x49k)demqmm869da+pb0@y
DJANGO_DEBUG=False
DATABASE_URL=postgresql://eazzi_user:QGSssfwTB7QT4jRkC7gzUoIBqWSylWoS@dpg-cq2h7m5ds78s73eeevd0-a.oregon-postgres.render.com/eazzi
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=8cde8a1c9c6910
EMAIL_HOST_PASSWORD=048dff60a407be
CORS_ALLOW_ALL_ORIGINS=True


# Ignore Firebase admin key
/credentials/firebase-admin-key.json

